.ProfilesWrapper:hover > .ProfilesHiddenMenu {
   display: block;
}
.ProfilesHiddenMenu {
   display: none;
   position: absolute;
   justify-content: center;
   padding: 10px;
   height: auto;
   width: auto;
   // margin-top: 50px;
   flex-direction: column;
   background-color: red;
}
.ProfilesHidden {
   padding-top: 10px;
}
