.ProfilesWrapper:hover > .ProfilesHiddenMenu {
   display: flex;
}
.ProfilesHiddenMenu {
   display: none;
   position: absolute;
   justify-content: center;
   padding: 10px;
   height: auto;
   width: auto;
   flex-direction: column;
   background-color: red;
}
.ProfilesHidden {
   padding-top: 5px;
   text-decoration: none;
   color: white;
}
