.ProfilesWrapper {
   // margin-top: 50px;
}

.ProfilesWrapper:hover > .ProfilesHiddenMenu {
   display: block;
}

.ProfilesHiddenMenu {
   // display: none;
   position: absolute;
   justify-content: center;
   padding-top: 30px;
   height: 200px;
   width: 100px;
   // margin-top: 50px;
   flex-direction: column;
   background-color: red;
}

// .ProfilesHidden {

// }
