.ScientificWrapper {
   width: 185px;
   height: 125px;
   background-color: #fbfbfb;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   @media (min-width: 1325px) {
      width: 260px;
   }
}
.ScientificWrapper img {
   display: flex;
   justify-content: center;
   width: 60px;
   height: 60px;
}

.ScientificTitleWrapper {
   max-width: 125px;
   @media (min-width: 1325px) {
      width: 125px;
   }
}
.ScientificTitle {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 10px;
}
.ScientificDescription {
   color: #74798c;
   font-size: 14px;
   font-weight: 600;
}
