.WelcomeWrapper {
   // height: 90px;
   margin-bottom: 75px;
}

.WelcomeMessage {
   font-weight: 600;
   font-size: 48px;
}
.WelcomeMessageCongrats {
   margin-top: 40px;
   font-size: 18px;
}

#WelcomeName {
   color: #ff0101;
}
