.LateralWrapper {
   color: white;
   width: 115px;
   min-height: 934px;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.LateralButtons {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 315px;
   margin-top: 100px;
}

.LateralCopyright {
   text-wrap: nowrap;
   font-weight: 500;
   font-size: 12px;
   rotate: 270deg;
   margin-top: 150px;
}
