.DashboardWrapper {
   width: 100%;
   // height: auto;
   background-color: #ffffff;
   margin: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   // @media (min-width: 1024px) {
   //    margin: 20px;
   // }
}

.DashboardDetails {
   display: flex;
   flex-direction: row;
   margin-top: 30px;
   justify-content: space-between;
   width: 835px;
}

.DashboardSecondWrapper {
   width: calc(100% - 25px);
   display: flex;
   flex-direction: column;
   @media (min-width: 1400px) {
      flex-direction: row;
   }
}

.DashboardGraphics {
   display: "flex";
   flex-direction: "column";
}

.DashboardScientificValues {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 835px;
   margin-top: 30px;
   @media (min-width: 1400px) {
      flex-direction: column;
      margin-left: 30px;
      width: auto;
      margin-top: 0;
   }
}
